@inject ILookupCacheService Lookups

<span>@_name</span>

@code {
    [Parameter] public Guid? UserId { get; set; }
    [Parameter] public string Fallback { get; set; } = "کاربر نامشخص";
    private string _name = "در حال دریافت...";

    protected override async Task OnParametersSetAsync()
    {
        _name = UserId.HasValue
            ? await Lookups.GetUserNameAsync(UserId)
            : Fallback;
    }
}
