@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudRTLProvider RightToLeft="true">
    <main class="auth-shell">
        @Body
    </main>
</MudRTLProvider>
